/*ventana*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
}.full{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;flex-direction: column;
    height: 100vh;

}
.Ventana {
    background: rgb(256, 256, 256);
    width: 35%;
    font-size: 25px;
    text-align: center;
    padding: 30px;
    min-height: 400px;
    border-radius: 30px;
    position: relative;
    display: none;
    color: black;
    border: solid 1px black;
    
}
.abrir{
    margin-top: 10px;
    text-decoration: none;
    border: 1px solid;
    padding: 10px 10px;
    border-radius: 5px;
    background: rgb(230, 75, 230);
    color: white;

}
.abrir:hover{
    background: rgb(194, 31, 194);
    transition: .3s;
}
.ir{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background: rgb(230, 75, 230);
    color: white;
    font-size: 25px;
}
.ir:hover{
    background: rgb(194, 31, 194);
    transition: .3s;
}
#cerrar{
    position: absolute;
    top: 15px;
    right: 30px;
}

.icon-trash{
    height: 80px;
    width: 80px;
    padding: 10px;
}

.botons-trash{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.residuos{
    width: 100px;
    height: 100px;
}

.contenedor-pre-res{
    height: 260px;
    display: flex;
    justify-content: space-between;
}

.pregunta{
    width: 50%;
    height: 260px;
}

.tierra{
    width: 50%;
    justify-content: space-between;
}